<div class="pattern-preview">
  <div class="code-preview">
    <section class="palette">
      <div class="color">
        <div class="color-box bg-darkest-gray">
        </div>
        <div class="color-txt">
          <div class="color-txt__hex">#424242</div>
        </div>
      </div>
      <div class="color">
        <div class="color-box bg-dark-gray">
        </div>
        <div class="color-txt">
          <div class="color-txt__hex">#757575</div>
        </div>
      </div>
      <div class="color">
        <div class="color-box bg-mid-gray">
        </div>
        <div class="color-txt">
          <div class="color-txt__hex">#E0E0E0</div>
        </div>
      </div>
      <div class="color">
        <div class="color-box bg-gray">
        </div>
        <div class="color-txt">
          <div class="color-txt__hex">#EEEEEE</div>
        </div>
      </div>
    </section>
  </div>
  <!--<div class="code-btn"></div>
  <div class="code-contain">
    <pre class="language-markup"><code></code></pre>
  </div>-->
</div>
