<div class="pattern-preview">
  <div class="code-preview">
    <h1>h1. Lorem ipsum dolor sit amet</h1>
    <h2>h2. Lorem ipsum dolor sit amet</h2>
    <h3>h3. Lorem ipsum dolor sit amet</h3>
    <h4>h4. Lorem ipsum dolor sit amet</h4>
    <h5>h5. Lorem ipsum dolor sit amet</h5>
    <h6>h6. Lorem ipsum dolor sit amet</h6>
  </div>
  <div class="code-btn"></div>
  <div class="code-contain">
    <pre class="language-markup"><code>&lt;h1&gt;h1. Lorem ipsum dolor sit amet&lt;/h1&gt;
&lt;h2&gt;h2. Lorem ipsum dolor sit amet&lt;/h2&gt;
&lt;h3&gt;h3. Lorem ipsum dolor sit amet&lt;/h3&gt;
&lt;h4&gt;h4. Lorem ipsum dolor sit amet&lt;/h4&gt;
&lt;h5&gt;h5. Lorem ipsum dolor sit amet&lt;/h5&gt;
&lt;h6&gt;h6. Lorem ipsum dolor sit amet&lt;/h6&gt;</code></pre>
  </div>
</div>
