<div class="pattern-preview">
  <div class="code-preview">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales nulla non libero commodo rhoncus vel eget est. Donec hendrerit et nibh nec aliquet. Nunc quis dictum ante, non dictum ligula. Mauris pretium vestibulum neque eleifend mollis. Aliquam gravida orci metus, non placerat risus malesuada vel. Vestibulum lorem velit, placerat condimentum condimentum nec, tincidunt sit amet est. Sed fringilla turpis risus, eu fermentum dolor eleifend vitae. Aenean sodales pulvinar sagittis.</p>
  </div>
  <div class="code-btn"></div>
  <div class="code-contain">
    <pre class="language-markup"><code>&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales nulla non libero commodo rhoncus vel eget est. Donec hendrerit et nibh nec aliquet. Nunc quis dictum ante, non dictum ligula. Mauris pretium vestibulum neque eleifend mollis. Aliquam gravida orci metus, non placerat risus malesuada vel. Vestibulum lorem velit, placerat condimentum condimentum nec, tincidunt sit amet est. Sed fringilla turpis risus, eu fermentum dolor eleifend vitae. Aenean sodales pulvinar sagittis.&lt;/p&gt;</code></pre>
  </div>
</div>
