<div class="pattern-preview">
  <div class="code-preview">
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Quisque ac enim sit amet dolor ultricies porttitor</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li>Cras tincidunt sem eu ipsum volutpat, vel rutrum justo gravida</li>
      <li>Proin interdum elit sit amet mauris ultrices consequat. Integer viverra odio et eros dapibus sollicitudin eget vel urna</li>
      <li>Phasellus sodales orci non magna dignissim, a tempor nibh convallis</li>
    </ul>
  </div>
  <div class="code-btn"></div>
  <div class="code-contain">
    <pre class="language-markup"><code>&lt;ul&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Quisque ac enim sit amet dolor ultricies porttitor&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt;/li&gt;
  &lt;li&gt;Cras tincidunt sem eu ipsum volutpat, vel rutrum justo gravida&lt;/li&gt;
  &lt;li&gt;Proin interdum elit sit amet mauris ultrices consequat. Integer viverra odio et eros dapibus sollicitudin eget vel urna&lt;/li&gt;
  &lt;li&gt;Phasellus sodales orci non magna dignissim, a tempor nibh convallis&lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</div>
