body, html {
  font-family: $default_font;
  font-size: $default_fontsize;
  color: $default_fontcolor;
  margin: 0;
  overflow-x: hidden;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

.hdr {
  background: $mid_gray;
  top: 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 60px;
}

.menu-button {
  top: 0;
  left: 0;
  cursor: pointer;
  position: fixed;
  z-index: 45;
  height: 60px;
  .menu-square {
    background: $mid_gray;
    border-right: 1px solid $light_gray;
    float: left;
    display: table;
    position: relative;
    width: 60px;
    height: 60px;
    .burger {
      display: table-cell;
      vertical-align: middle;
      padding: 0 0 0 1.25em;
      position: relative;
      height: 60px;
      .bar {
        background: rgba(0, 0, 0, 1.0);
        transition: all 0.2s ease;
        width: 18px;
        height: 3px;
        &:before,
        &:after {
          content: '';
          background: $darkest_gray;
          position: absolute;
          width: 18px;
          height: 3px;
        }
        &:before {
          margin: -6px 0 6px;
          transform: rotate(0);
          transition: all 200ms ease;
        }
        &:after {
          margin: 6px 0;
          transform: rotate(0);
          transition: all 200ms ease;
        }
      }
    }
  }
  .menu-text {
    color: $darkest_gray;
    display: block;
    float: left;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-left: 1em;
  }
  &.active {
    .burger {
      .bar {
        background: rgba(0, 0, 0, 0);
        &:before {
          display: block;
          margin: 0;
          transform: rotate(45deg);
          transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
          margin: 0;
          transform: rotate(-45deg);
          transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }
  }
}

.wrp {
  background-color: $white;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  transition: all 0.2s ease;
  &.wrp--ovr {
    border-left: 1px solid $mid_gray;
    left: 315px;
  }
  .wrp__inner {
    margin: 6em auto 0;
    padding: 0 0.75em;
    overflow-y: auto;
    max-width: 960px;
    height: auto;
  }
}

.pattern {
  border: 1px solid $mid_gray;
  border-radius: 3px;
  margin-bottom: 4em;
  .pattern-name {
    background: $light_gray;
    border-bottom: 1px solid $mid_gray;
    padding: 1em;
    text-transform: uppercase;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  .pattern-preview {
    padding: 1.125em 1.25em 1em;
  }
  &.pattern--heading {
    border: none;
    h2 {
      margin: 0 0 .5em;
      padding: 0 0 .25em;
      border-bottom: 1px solid $mid_gray;
    }
  }
}

.palette {
  overflow: auto;
  padding: 1em 0 0;
  width: 100%;
  height: auto;
  .color {
    float: left;
    position: relative;
    width: 25%;
    .color-box {
      margin: 0 auto 0.5em;
      width: 90%;
      height: 100px;
    }
    .color-txt {
      font-family: $default_code;
      margin: 0 auto 2em;
      width: 90%;
      .color-txt__hex {
        font-size: 0.875rem;
        margin: 0 0 0.125em;
      }
      .color-txt__class {
        font-size: 0.75rem;
        line-height: 1.6;
      }
    }
  }
  & + .palette {
    padding: 0;
  }
}

.bg-darkest-gray {
  background: $darkest_gray;
}

.bg-dark-gray {
  background: $dark_gray;
}

.bg-mid-gray {
  background: $mid_gray;
}

.bg-gray {
  background: $gray;
}

.bg-light-gray {
  background: $light_gray;
}

.pattern--heading code {
  background: $light_gray;
  border-radius: 3px;
  font-family: $default_code;
  font-size: 0.75rem;
  padding: 0.5em;
}

pre[class*="language-"] {
  background: #f8f8f8;
  font-size: 0.85rem;
  line-height: inherit;
  overflow: hidden !important;
  padding: 2em !important;
}

.code-contain {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 0;
  transition: all 0.3s ease;
  code {
    margin: 0;
    width: 100%;
    white-space: pre-wrap !important;
  }
}

.code-btn {
  background: $mid_gray;
  border-radius: 3px;
  color: $darkest_gray;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  display: inline-block;
  margin: 0.5em 0 1em;
  padding: 0.625em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  &:before {
    content: '</> Code'
  }
  &.show {
    &:before {
      content: '</> Hide'
    }
  }
  &.show + .code-contain {
    max-height: 450px;
    transition: max-height 0.3s ease;
  }
}

.off-cnvs {
  top: 0;
  left: 0;
  overflow: scroll;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.side-nav {
  margin-top: 3.75em;
  width: 315px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid $mid_gray;
      display: block;
      position: relative;
      a {
        font-size: 1.125rem;
        font-weight: 700;
        display: block;
        color: #222;
        cursor: pointer;
        line-height: 60px;
        text-decoration: none;
        padding-left: 1em;
        transition: border-left 0.15s ease;
        &.current {
          border-left: 4px solid $dark_gray;
        }
      }
      &.children {
        &:after {
          content: '+';
          border-left: 1px solid $mid_gray;
          cursor: pointer;
          display: block;
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 60px;
          position: absolute;
          text-align: center;
          top: 0;
          right: 0;
          width: 60px;
          height: 60px;
        }
        &.active {
          &:after {
            background: $light_gray;
            content: '-';
          }
        }
      }
      ul {
        background: $light_gray;
        border: none;
        list-style: none;
        overflow-y: hidden;
        max-height: 0;
        margin: 0;
        padding: 0;
        transition: max-height 0.3s ease;
        &.open {
          border-top: 1px solid $mid_gray;
          max-height: 500px;
        }
        li {
          border-bottom: 1px solid $mid_gray;
          font-weight: 400;
          &:last-child {
            border-bottom: none;
          }
          a {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
