/*
 *
 * Example patterns
 *
 */

/* Heading */

h1, h2, h3, h4, h5, h6 {
  font-family: $default_font;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 .5em;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: .35em;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* Paragraph */

p {
  font-size: 1rem;
  margin: 0 0 1em;
  line-height: 1.6;
}

/* Unordered list */

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  li {
    font-size: 1rem;
    line-height: 1.6;
  }
}
