<!doctype HTML>
<html>
  <head>
     <meta charset="utf-8">
     <title>{{title}}</title>
     <meta name="description" content="{{description}}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--build:css css/main.min.css-->
     <link rel="stylesheet" href="css/main.css">
     <!--endbuild-->
  </head>
  <body>
    <header class="" role="banner">
    {% block banner %}
      {% include "partials/banner.njk" %}
    {% endblock %}
    </header>
    {% block nav %}
      {% include "partials/navigation.njk" %}
    {% endblock %}
    <main class="" role="main">
    {% block content %}
    {% endblock %}
    </main>
    <footer class="">
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <!--build:js js/main.min.js -->
    <script type="text/javascript" src="js/main.js"></script>
    <!-- place js files here -->
    <!-- endbuild -->
  </body>
</html>
